.form-search {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-search__container{
    display: flex;
}

.form-search__input {
    border: 1px solid var(--light-gray);
    font-size: 14px;
    padding: 5px 15px;
    flex: 1;
}

.form-search__input::placeholder {
    color: var(--light-gray);
}

.form-search__button {
    background-color: var(--primary);
    color: white;
    font-size: 20px;
    padding: 10px;
    border: none;

}

.form-search__categories-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 385px;
    gap: 10px;
    padding: 10px;
}

.form-search__categories-item {
    color: #515151;
    cursor: pointer;
    transition: background 200ms ease, transform 200ms ease;
}

.form-search__categories-item:hover {
    background-color: var(--ultra-light-gray);
    transform: scale(1.2);
}

.home__listProducts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    justify-content: center;
    grid-template-rows: auto;
    gap: 40px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
